:root {
  --container-width: 1320px;
  --basic-space: 1rem;
  --basic-color: #B3B3BA;
  --secondary-color: #323264;
  --basic-background: #fff;
  --secondary-background: #F5F5FA;
  --text-size: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: calc(1320px + 2rem);
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #B3B3BA;
}
img {
  max-width: 100%;
  display: block;
}
a {
    text-decoration: none;
    color: #B3B3BA;
}
a:hover{
    text-decoration: none;
}
input, button{
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
}
/*-----------------------------------*/
.grid{
    display: grid;
}
.display-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-between{
    justify-content: space-between;
}
.item-1{
    grid-area: a;
}
.item-2{
    grid-area: b;
}
.item-3{
    grid-area: c;
}
.mg-left-auto{
    margin-left: auto;
}
.mg-top-5px{
    margin-top: 5px;
}
.mg-top-15px{
    margin-top: 15px;
}
.mg-top-20px{
    margin-top: 20px;
}
.mg-top-60px{
    margin-top: 60px;
}
.color-24A3FF{
    color: #24A3FF;
}
.color-323264{
    color: #323264;
}
.color-46466E{
    color: #46466E;
}
.fw-700{
    font-weight: 700;
}
.fs-12px{
    font-size: 12px;
}
.fs-14px{
    font-size: 14px;
}
.gap-10px{
    gap: 10px;
}
.dot{
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
}
.circle{
    height: 50px;
    width: 50px;
    background-color: #F5F5FA;
    border-radius: 50%;
}
/*-----------------------------------*/
.header-wrapper{
    padding-top: 50px;
    grid-template-areas:
        "a b"
        "a c";
}
.language + .language, .link + .link{
    margin-left: 15px;
}
.link{
    color: #24A3FF;
    font-weight: 700;
}
.link.unactive{

}
.language.eng{
    background-color: #F0145A;
    color: #fff;
    border-radius: 8px;
    padding: 5px 7px;
}
.link.team{
    color: #F0145A;
    border-bottom: 2px solid #F0145A;
    padding-bottom: 5px;
}
/*-----------------------------------*/
.main-title{
    font-size: 38px;
    background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    max-width: 880px
}
/*-----------------------------------*/
.card-img{
    border-radius: 12px;
    max-width: 400px;
    max-height: 400px;
}
.cards-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
}
/*-----------------------------------*/
.footer{
    background-color: #F5F5FA;
}
.footer-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
    grid-template-areas:
        "a b"
        "c b";
}
.footer-item-1{
    grid-area: a;
}
.footer-item-2{
    grid-area: c;
}
.footer-item-3{
    grid-area: b;
}
.footer-wrapper .dot{
    background-color: #B3B3BA;
}
.link-map{
    letter-spacing: 1px;
    text-transform: uppercase;
}